body{
margin: 50px;
border: inset;
padding:50px;
background-color: #FCDEC0;


}


h1 {
  background-color: #E3CDC1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 70px; 
  text-align: center;
}
.r{
    padding: 10px

}
.call {
  float: right;
  font-size : 20px;
  border: ridge;
  padding-right: 10px
  

}
h2{
color: #7D5A50;
font-size: 30px;
}
a:hover{
  color: #D99879;
  font-weight: bolder;
}
img{
  width: 800px;
  height: : 700px;
  
}
span {
  background-color: #D99879
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-style: italic;
  font-size :40px;
}

p {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.hi{
  display: block;
}
.sub{
  font-size: 30px;
}